.likedBtn {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border-radius: 32px;
  gap: 5px;
  border: 2px solid var(--default-color);
  font-size: 20px;
}

:root {
  --default-color: #888;
  --active-color: #f00;
}

.likedBtn:hover {
  color: var(--active-color);
  border: 2px solid var(--active-color)
}

.liked, .liked:hover{
  background-color: var(--active-color);
  border: var(--active-color);
  color: #fff;
}
